#choose{
    box-shadow:00px 00px 40px 0 rgba(0,0,0, 0.4);
    background-color: white;
    color:darkcyan;
    
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    height:300px;
    width:480px;
    position:absolute;
    border: 2px solid;
    border-color:darkcyan;
}
#re{
    font-size:50px;
    padding:30px;
}
.btn{
    
    font-size:36px;
    float:left;
    width:50%;
}


#box{
    box-shadow:00px 00px 40px 0 rgba(0,0,0, 0.4);
    box-shadow:00px 00px 1600px 0 rgba(127, 255, 212, 0.4);
    top:0;
    bottom:0;
    right:0;
    left:0;
    height:400px;
    width:460px;
    margin:auto;
    position:absolute;
    border: 2px solid;
    border-color:aquamarine;
    font-size: 36px;
}


.block  {
    background-color: aliceblue;
    padding: 50px 60px;
    float: left;
    width:33.33%;
    height: 33.33%;
}
.r{
    
    border-right: 2px solid aquamarine;
}
.b{
    
    border-bottom: 2px solid aquamarine;
}

#won{
    box-shadow:00px 00px 40px 0 rgba(0,0,0, 0.4);
    background-color: white;
    color:darkcyan;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
    height:250px;
    width:400px;
    position:absolute;
    border: 2px solid;
    border-color:darkcyan;
    font-size: 24px;
    display:none;
}

#res{
    font-size:45px;
    padding:10px;
    margin: 20px;
}
.restart{
    float:none;
    color:#fff;
    font-size:30px;
    background-color: rgba(0,139,139,0.75);
}

.restart:hover,.restart:focus,.restart:active,restart:visited{
    background-color: rgba(0,139,139,1);
    color:#fff;
}